{% load bootstrap4 %}
{% load static%}
<!DOCTYPE html>
<html class="no-js">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Nekoye's Gallery</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {% block styles %}
            {% bootstrap_css %}
            <link rel="stylesheet" href="{% static 'css/base.css' %">
            <link href="https://fonts.googleapis.com/css2?family=Open+Sans&family=Shadows+Into+Light&display=swap" rel="stylesheet">
        {% endblock %}
    </head>
    <body style="font-family: 'Open Sans', sans-serif;" >
        {% include "navbar.html" %}

        {% block content %}

        {%endblock%}

        {% block scripts %}
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        {% bootstrap_javascript %}
        {% endblock %}
        <script src="" async defer></script>
    </body>
</html>